<div class="wrapper wrapper-content" style="padding-top:0">
    <div class="row  border-bottom white-bg dashboard-header" style="min-width:1180px">

        <div class="col-sm-12" style="text-align:center">
            <div class="flot-chart dashboard-chart">
                <img src="../Images/MayanBanner_medium.JPG" />
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="" style="text-align:center">
                    <h2 style="font-family:'Open Sans';font-weight:100;padding-top:10px;">
                        Data Management
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="/generalmanagement" style="text-decoration:none">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-xs-2" style="">
                                    <i class="fa fa-table fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">General Managers</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="/salesmanager" style="text-decoration:none">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-xs-2" style="">
                                    <i class="fa fa-table fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">Sales Managers</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="/insidesalesexecutive" style="text-decoration:none">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-xs-2" style="">
                                    <i class="fa fa-table fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">Inside Sales Executives</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="/salesexecutive" style="text-decoration:none">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-xs-2" style="">
                                    <i class="fa fa-table fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">Sales Executives</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="/seniorsalesdirector" style="text-decoration:none">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-xs-2" style="">
                                    <i class="fa fa-table fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">Senior Sales Directors</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="/regionalvicepresident" style="text-decoration:none">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-xs-2" style="">
                                    <i class="fa fa-table fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">Regional Vice Presidents</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="/accountmanager" style="text-decoration:none">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-xs-2" style="">
                                    <i class="fa fa-table fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">Account Managers</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="/monthlysummary" style="text-decoration:none">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-xs-2" style="">
                                    <i class="fa fa-table fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">Monthly Summaries</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="" style="text-align:center">
                    <h2 style="font-family:'Open Sans';font-weight:100;padding-top:10px;">
                        Content and Settings
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="/announcement" style="text-decoration:none">
                        <div class="widget style1 blue-bg">
                            <div class="row">
                                <div class="col-xs-2" style="">
                                    <i class="fa fa-bullhorn fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">Announcements</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="/tweets" style="text-decoration:none">
                        <div class="widget style1 blue-bg">
                            <div class="row">
                                <div class="col-xs-2" style="">
                                    <i class="fa fa-twitter fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">Tweets</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="/loginhistory" style="text-decoration:none">
                        <div class="widget style1 blue-bg">
                            <div class="row">
                                <div class="col-xs-2" style="">
                                    <i class="fa fa-history fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">Login History</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="#" onclick="window.location = 'PhotoUpload/'" style="text-decoration:none">
                        <div class="widget style1 blue-bg">
                            <div class="row">
                                <div class="col-xs-2" style="">
                                    <i class="fa fa-upload fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">Photo Upload</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="/photomanagement" style="text-decoration:none">
                        <div class="widget style1 blue-bg">
                            <div class="row">
                                <div class="col-xs-2" style="">
                                    <i class="fa fa-camera fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">Photo Management</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="/appconfig" style="text-decoration:none">
                        <div class="widget style1 blue-bg">
                            <div class="row">
                                <div class="col-xs-2" style="">
                                    <i class="fa fa-wrench fa-3x"></i>
                                </div>
                                <div class="col-xs-10 text-right">
                                    <h4 class="font-bold">Configuration</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
     
  



    <!--<div class="row" style="min-width:1180px">
        <div class="" style="text-align:center">
            <h2 style="font-family:'Open Sans';font-weight:100;padding-top:10px;">
                Data Management
            </h2>
        </div>
    </div>

    <div class="row  border-bottom white-bg dashboard-header" style="min-width:1180px">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-sm-3">
                    <center>
                        <a href="/generalmanagement" style="text-decoration:none">
                            <div class="widget lazur-bg p-lg text-center">
                                <div class="m-b-md">
                                    <i class="fa fa-table fa-4x"></i>
                                    <h3 class="font-bold no-margins">
                                        General<br /> Managers
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </center>
                </div>
                <div class="col-sm-3">
                    <center>
                        <a href="/salesmanager" style="text-decoration:none">
                            <div class="widget lazur-bg p-lg text-center">
                                <div class="m-b-md">
                                    <i class="fa fa-table fa-4x"></i>
                                    <h3 class="font-bold no-margins">
                                        Sales<br /> Managers
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </center>
                </div>
                <div class="col-sm-3">
                    <center>
                        <a href="/insidesalesexecutive" style="text-decoration:none">
                            <div class="widget lazur-bg p-lg text-center">
                                <div class="m-b-md">
                                    <i class="fa fa-table fa-4x"></i>
                                    <h3 class="font-bold no-margins">
                                        Inside Sales<br /> Executives
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </center>
                </div>
                <div class="col-sm-3 center-block">
                    <center>
                        <a href="/salesexecutive" style="text-decoration:none">
                            <div class="widget lazur-bg p-lg text-center">
                                <div class="m-b-md">
                                    <i class="fa fa-table fa-4x"></i>
                                    <h3 class="font-bold no-margins">
                                        Sales<br /> Executives
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </center>
                </div>
            </div>


            <div class="row" style="min-width:1180px">
                <div class="col-sm-4">
                    <center>
                        <a href="/seniorsalesdirector" style="text-decoration:none">
                            <div class="widget lazur-bg p-lg text-center">
                                <div class="m-b-md">
                                    <i class="fa fa-table fa-4x"></i>
                                    <h3 class="font-bold no-margins">
                                        Senior Sales Directors
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </center>
                </div>
                <div class="col-sm-4">
                    <center>
                        <a href="/regionalvicepresident" style="text-decoration:none">
                            <div class="widget lazur-bg p-lg text-center">
                                <div class="m-b-md">
                                    <i class="fa fa-table fa-4x"></i>
                                    <h3 class="font-bold no-margins">
                                        Regional Vice President
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </center>
                </div>
                <div class="col-sm-4">
                    <center>
                        <a href="/monthlysummary" style="text-decoration:none">
                            <div class="widget blue-bg p-lg text-center">
                                <div class="m-b-md">
                                    <i class="fa fa-table fa-4x"></i>
                                    <h3 class="font-bold no-margins">
                                        Monthly Summary
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="min-width:1180px">
        <div class="" style="text-align:center">
            <h2 style="font-family:'Open Sans';font-weight:100;padding-top:10px;">
                Content and Settings
            </h2>
        </div>
    </div>-->
    <!--<div class="row" style="min-width:1180px">
        <div class="wrapper wrapper-content animated fadeInRight">-->
    <!--<div class="col-sm-4">
        <a href="/announcement" style="text-decoration:none">
            <div class="widget gray-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-bullhorn fa-4x"></i>
                    <h3 class="font-bold no-margins">
                        Announcements
                    </h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="/tweets" style="text-decoration:none">
            <div class="widget gray-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-twitter fa-4x"></i>
                    <h3 class="font-bold no-margins">
                        Tweets
                    </h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="/loginhistory" style="text-decoration:none">
            <div class="widget gray-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-history fa-4x"></i>
                    <h3 class="font-bold no-margins">
                        Login History
                    </h3>
                </div>
            </div>
        </a>
    </div>-->
    <!--<div class="row" style="min-width:1180px">
                    <div class="col-sm-4">
                        <a href="/appconfig" style="text-decoration:none;">
                            <div class="widget gray-bg p-lg text-center">
                                <div class="m-b-md">
                                    <i class="fa fa-wrench fa-4x"></i>
                                    <h3 class="font-bold no-margins">
                                        Configuration
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="/photoupload" style="text-decoration:none;">
                            <div class="widget gray-bg p-lg text-center">
                                <div class="m-b-md">
                                    <i class="fa fa-upload fa-4x"></i>
                                    <h3 class="font-bold no-margins">
                                        Photo Upload
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="/photomanagement" style="text-decoration:none;">
                            <div class="widget gray-bg p-lg text-center">
                                <div class="m-b-md">
                                    <i class="fa fa-camera fa-4x"></i>
                                    <h3 class="font-bold no-margins">
                                        Photo Management
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
